!!! 5
html
  head
    link(rel='stylesheet', href='/stylesheets.css')
    title JukeNode
  body
    #main
      h1 Welcome to JukeNode
      p 
        a(href="/stop") Stop iTunes
      #container!= body