#welcome
#image
p
 a(href="/playlists") See all playlists
script
    FB.api('/me', function(user) {
      if (user != null) {
        if (user.id != null) {
          var image = document.getElementById('image');
          var src = 'https://graph.facebook.com/' + user.id + '/picture';
          image.innerHTML = '<img src="'+ src +'">';
        }
        if (user.name != null) {
           var name = document.getElementById('welcome');
           name.innerHTML = '<h2>Hi ' + user.name + ', welcome back.';
        }
      }
    });

div(class="fb-login-button") Login with Facebook

div(class="fb-add-to-timeline")
