body {
    font-family: Helvetica, Sans-Serif;
    font-size: 16px;
}

#main {
    width: 960px;
    margin: 0 auto;
    border: 1px solid #ddd;
    padding: 1em;
}

#statusbox {
    width: 800px;
    height: 100px;
    border: 1px solid #ddd;
    padding: 1em;
}